<a href="https://colab.research.google.com/github/Sameer0Rai/Assignment_Topsis/blob/main/Package_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install Topsis-Sameer-102303773

Collecting Topsis-Sameer-102303773
  Downloading topsis_sameer_102303773-1.0.0-py3-none-any.whl.metadata (357 bytes)
Requirement already satisfied: pandas in /usr/local/lib/python3.12/dist-packages (from Topsis-Sameer-102303773) (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.12/dist-packages (from Topsis-Sameer-102303773) (2.0.2)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.12/dist-packages (from pandas->Topsis-Sameer-102303773) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.12/dist-packages (from pandas->Topsis-Sameer-102303773) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.12/dist-packages (from pandas->Topsis-Sameer-102303773) (2025.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.12/dist-packages (from python-dateutil>=2.8.2->pandas->Topsis-Sameer-102303773) (1.17.0)
Downloading topsis_sameer_102303773-1.0.0-py3-none-any.whl (3.5 kB)
Installing collected packages: Topsis-Sameer-102303773
Successfully installed Topsis-Sameer-102303773-1.0.0

In [2]:
!topsis data1234.csv "1,1,1,1,1" "+,+,+,+,+" output.csv

TOPSIS completed successfully.

In [3]:
import pandas as pd
pd.read_csv("output.csv")

  Fund Name    P1    P2   P3    P4     P5  Topsis Score  Rank
0        M1  0.81  0.66  5.7  44.1  12.82      0.529146     4
1        M2  0.68  0.46  5.9  58.2  16.31      0.546908     3
2        M3  0.91  0.83  3.1  67.9  18.19      0.648990     2
3        M4  0.89  0.79  6.4  66.2  18.57      0.919185     1
4        M5  0.61  0.37  4.4  39.2  11.15      0.204853     7
5        M6  0.82  0.67  4.8  30.7   9.25      0.374285     6
6        M7  0.62  0.38  6.9  46.9  13.70      0.453268     8
7        M8  0.61  0.37  5.1  38.4  11.12      0.256989     5