<a href="https://colab.research.google.com/github/Sameer0Rai/Assignment_Topsis/blob/main/Topsis_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import sys
import os
import pandas as pd
import numpy as np

In [3]:
def fail(msg):
    print("Error:", msg)
    sys.exit(1)

In [12]:
sys.argv = [
    "topsis.py",
    "data1234.csv",
    "1,1,1,1,1",
    "+,+,+,+,+",
    "output.csv"
]

args = sys.argv

In [13]:
if len(args) != 5:
    fail("Usage: python topsis.py <input.csv> <weights> <impacts> <output.csv>")

inp = args[1]
wts = args[2]
imps = args[3]
out = args[4]

In [14]:
if not os.path.isfile(inp):
    fail("Input file not found")

try:
    df = pd.read_csv(inp)
except:
    fail("Cannot read input file")

if df.shape[1] < 3:
    fail("Input file must have at least 3 columns")

In [15]:
mat = df.iloc[:, 1:].values

if not np.issubdtype(mat.dtype, np.number):
    fail("Columns must be numeric")

In [16]:
w = wts.split(',')
imp = imps.split(',')

n = mat.shape[1]

if len(w) != n or len(imp) != n:
    fail("Weights, impacts and columns count mismatch")

try:
    w = np.array(w, dtype=float)
except:
    fail("Weights must be numbers")

for i in imp:
    if i not in ['+', '-']:
        fail("Impacts must be + or -")

In [17]:
den = np.sqrt((mat ** 2).sum(axis=0))
norm = mat / den

In [18]:
wmat = norm * w

In [19]:
best = []
worst = []

for i in range(n):
    if imp[i] == '+':
        best.append(wmat[:, i].max())
        worst.append(wmat[:, i].min())
    else:
        best.append(wmat[:, i].min())
        worst.append(wmat[:, i].max())

best = np.array(best)
worst = np.array(worst)

In [20]:
dpos = np.sqrt(((wmat - best) ** 2).sum(axis=1))
dneg = np.sqrt(((wmat - worst) ** 2).sum(axis=1))

In [21]:
score = dneg / (dpos + dneg)
rank = score.argsort()[::-1] + 1

In [22]:
df["Topsis Score"] = score
df["Rank"] = rank

df.to_csv(out, index=False)
print("Done.")

Done.

In [27]:
from IPython.display import display

print("INPUT DATA")
display(df)

INPUT DATA

  Fund Name    P1    P2   P3    P4     P5  Topsis Score  Rank
0        M1  0.81  0.66  5.7  44.1  12.82      0.529146     4
1        M2  0.68  0.46  5.9  58.2  16.31      0.546908     3
2        M3  0.91  0.83  3.1  67.9  18.19      0.648990     2
3        M4  0.89  0.79  6.4  66.2  18.57      0.919185     1
4        M5  0.61  0.37  4.4  39.2  11.15      0.204853     7
5        M6  0.82  0.67  4.8  30.7   9.25      0.374285     6
6        M7  0.62  0.38  6.9  46.9  13.70      0.453268     8
7        M8  0.61  0.37  5.1  38.4  11.12      0.256989     5

In [28]:
df["Topsis Score"] = score
df["Rank"] = rank

print("OUTPUT DATA")
display(df)

df.to_csv(out, index=False)
print("Saved to:", out)

OUTPUT DATA

  Fund Name    P1    P2   P3    P4     P5  Topsis Score  Rank
0        M1  0.81  0.66  5.7  44.1  12.82      0.529146     4
1        M2  0.68  0.46  5.9  58.2  16.31      0.546908     3
2        M3  0.91  0.83  3.1  67.9  18.19      0.648990     2
3        M4  0.89  0.79  6.4  66.2  18.57      0.919185     1
4        M5  0.61  0.37  4.4  39.2  11.15      0.204853     7
5        M6  0.82  0.67  4.8  30.7   9.25      0.374285     6
6        M7  0.62  0.38  6.9  46.9  13.70      0.453268     8
7        M8  0.61  0.37  5.1  38.4  11.12      0.256989     5

Saved to: output.csv